<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaPresentacion.Properties.Settings.dbclinicaConnectionString"
            connectionString="Data Source=DESKTOP-O96G4O5\SQLEXPRESS;Initial Catalog=dbclinica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaPresentacion.Properties.Settings.dbclinicaConnectionString1"
            connectionString="Data Source=MIRLU\SQLEXPRESS;Initial Catalog=dbclinica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>